@keyframes 'TestTransition_rotate_n0_nhre_k' {
    0% {
		transform: rotateZ(0deg);
    }

    50% {
		transform: rotateZ(90deg);
    }

    100% {
		transform: rotateZ(180deg);
    }

}

@keyframes 'TestTransition_move_n1_nhre_k' {
    0% {
		transform: translate3d(0px, 0px, 0px);
    }

    50% {
		transform: translate3d(545px, 0px, 0px);
    }

    100% {
		transform: translate3d(0px, 0px, 0px);
    }

}

@keyframes 'TestTransition_scale_n2_nhre_k' {
    0% {
		transform: scale3d(1, 1, 1);
    }

    50% {
		transform: scale3d(0.2, 0.2, 1);
    }

    100% {
		transform: scale3d(1, 1, 1);
    }

}

@keyframes 'TestTransition_scale_center_n3_nhre_k' {
    0% {
		transform: scale3d(1, 1, 1);
    }

    50% {
		transform: scale3d(0.2, 0.2, 1);
    }

    100% {
		transform: scale3d(1, 1, 1);
    }

}

@keyframes 'TestTransition_scale_right_n4_nhre_k' {
    0% {
		transform: scale3d(1, 1, 1);
    }

    50% {
		transform: scale3d(0.2, 0.2, 1);
    }

    100% {
		transform: scale3d(1, 1, 1);
    }

}

@keyframes 'TestTransition_group1_n5_nhre_k' {
    0% {
		transform: rotateZ(0deg) scale3d(1, 1, 1) translate3d(-41px, 11px, 0px);
		background-color: #ffffff;
		opacity: 1;
    }

    50% {
		transform: rotateZ(90deg) scale3d(0.2, 1, 1) translate3d(542px, 11px, 0px);
		background-color: #00ccff;
		opacity: 0;
    }

    100% {
		transform: rotateZ(180deg) scale3d(1, 1, 1) translate3d(542px, 421px, 0px);
		background-color: #000000;
		opacity: 1;
    }

}

@keyframes 'TestTransition_color_n6_qrtp_k' {
    0% {
		background-color: #ffffff;
		transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
    }

    50% {
		transform: scale3d(0.8, 0.8, 1) translate3d(-179px, 0px, 0px);
    }

    100% {
		background-color: #ff9966;
		transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
    }

}

@keyframes 'TestTransition_round_n9_giof_k' {
    0% {
		transform: translate3d(0px, 0px, 0px);
		background-color: #ffffff;
    }

    50% {
		transform: translate3d(645px, 0px, 0px);
		background-color: #333333;
    }

    75% {
		transform: translate3d(645px, 529px, 0px);
		background-color: #0099ff;
    }

    87% {
		transform: translate3d(-7px, 529px, 0px);
		background-color: #ffcc00;
    }

    100% {
		transform: translate3d(-107px, 0px, 0px);
		background-color: #993300;
    }

}

@keyframes 'TestRelation_t0_n0_nhre_k' {
    0% {
		transform: translate3d(0px, 0px, 0px);
    }

    50% {
		transform: translate3d(483px, 0px, 0px);
    }

    100% {
		transform: translate3d(483px, -259px, 0px);
    }

}
.TestTransition_rotate_n0_nhre {
    animation-name: TestTransition_rotate_n0_nhre_k;
    animation-duration: 0.50s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.TestTransition_move_n1_nhre {
    animation-name: TestTransition_move_n1_nhre_k;
    animation-duration: 1.00s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.TestTransition_scale_n2_nhre {
    animation-name: TestTransition_scale_n2_nhre_k;
    animation-duration: 1.00s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.TestTransition_scale_center_n3_nhre {
    animation-name: TestTransition_scale_center_n3_nhre_k;
    animation-duration: 1.00s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.TestTransition_scale_right_n4_nhre {
    animation-name: TestTransition_scale_right_n4_nhre_k;
    animation-duration: 1.00s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.TestTransition_group1_n5_nhre {
    animation-name: TestTransition_group1_n5_nhre_k;
    animation-duration: 1.00s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.TestTransition_color_n6_qrtp {
    animation-name: TestTransition_color_n6_qrtp_k;
    animation-duration: 2.00s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.TestTransition_round_n9_giof {
    animation-name: TestTransition_round_n9_giof_k;
    animation-duration: 2.00s;
    animation-iteration-count: 2;
    animation-timing-function: ease;
}

.TestRelation_t0_n0_nhre {
    animation-name: TestRelation_t0_n0_nhre_k;
    animation-duration: 1.00s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
